<h2><%= @review.user.name %>'s <%= @review.game %> Review</h2>

<p><%= @review.game %></p>
<p><%= @review.content %></p>

<% if current_user == @review.user %>
  <a href="/reviews/<%= @review.id %>/edit"><input type="submit" value="Edit Review"></a>
  <br>
  <form action="/reviews/<%= @review.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete Review">
  </form>
<% end %>
